
- var httpActionMethod = todo && todo.id  ? `/todo/${todo.id}/edit`: '/todo';
- var btnName = todo && todo.id ? 'Change': 'Add';
div.header-wrapper
    h4 <strong>Add task</strong>
    a(role="button" class="btn btn-default btn-sm" href="/todo/list") Back to list
form.todo-form(id="todoForm" role='form' method='POST' action=httpActionMethod)
    div.form-group
    label(for='name') Name:
    span#divName
        input#name.form-control(type='text', placeholder='Name' name='name', value=todo.name)
        small#nameHelp(class="form-text text-muted")
    div.form-group
    label(for='description') Description:
    textarea#description.form-control(placeholder='Description' name='description') #{todo.description}
    div.form-group
    label(for='date') Date:
    input#date.form-control(type='text', placeholder='Date' name='date' value= todo.date)
    div.form-group
    label(for='time') Time:
    input#time.form-control(type='text', placeholder='Time' name='time' value= todo.time)
    div.form-group
    button.btn.btn-primary(type="button" id="btnSubmit") #{btnName}
